{% extends "admin_interface/base.html" %}

{% block title %}
{% if object %}
<title>Modification de {{object}}</title>
{% else %}
<title> Créer un animal </title>
{% endif %}
{% endblock %}

{% block content %}

{% if object %}
<h1>Modification de {{object}}</h1>
{% else %}
<h1> Créer un animal </h1>
{% endif %}
<br/>
   {% if object %}
   	<strong> Nom </strong> : {{animal.nom}} <br>
	<strong> Sexe </strong> : {{animal.get_sexe_display}} <br>
	<strong> Type </strong> : {{animal.get_type_animal_display}} <br>
	<strong> Emplacement </strong> : {{animal.get_emplacement_display}} <br>
	{% if animal.isFromRefuge %}
	<strong> Provenance </strong> : {{animal.get_origine_display}} <br>
	{% endif %}
	{% if animal.isFromPension %}
	<strong> Propriétaire </strong> : <a href = "{% url 'detail_proprietaire' animal.proprietaire.id %}">{{animal.proprietaire}}</a> <br>
	{% endif %}
	<br>
   {% endif %}
   <form method="post" action="" enctype="multipart/form-data">
   {% csrf_token %}
	{{ form.media }}
   {{ form.as_p }}
   <br/>
   <div class="row">
   	<div class="col-md-6">
   		{% if object %}
   			<a href = "{% url 'detail_animal' object.id %}"  class="btn-search cyan rounded">Annuler</a>
   		{% else %}
   			<a href = "{% url 'animals' %}"  class="btn-search cyan rounded">Annuler</a>
   		{% endif %}
   	</div>
   	<div class="col-md-6">
   		<input class="btn-search cyan rounded" type="submit" />
   	</div>
   </div>
</form>


{% endblock %}
