{% extends "admin_interface/base.html" %}

{% block content %}

<div class="row">
	{% if animal.adoption and animal.photo %}
    <div class="col-sm-3">
	{% elif animal.adoption or animal.photo %}
	<div class="col-sm-6">
    {% else %}
    <div class="col-sm-12">
    {% endif %}
      <div class="panel panel-default">
        <div class="panel-heading text-center">
		<h4>{{animal.get_type_animal_display}} {{animal.nom}} </h4>
		</div>
		<div class="panel-body">
		<p>
		    <strong> Nom </strong> : {{animal.nom}} <br>
			<strong> Sexe </strong> : {{animal.get_sexe_display}} <br>
			<strong> Type </strong> : {{animal.get_type_animal_display}} <br>
			<strong> Emplacement </strong> : {{animal.get_emplacement_display}} <br>
			{% if animal.is_from_refuge %}
			<strong> Provenance </strong> : {{animal.get_origine_display}} <br>
			{% endif %}
			<strong> Date de naissance </strong> : {{animal.date_naissance|default:" - "}} <br>
			<strong> Date de première arrivée </strong> : {{animal.date_arrivee|default:" - "}} <br>
			<strong> Vacciné </strong> : {{animal.get_vaccin_str}} <br>
			<strong> Stérilisé </strong> : {{animal.get_sterilise_display}} <br>
			{% if animal.is_from_pension %}
			<strong> Propriétaire </strong> : <a href = "{% url 'detail_proprietaire' animal.proprietaire.id %}">{{animal.proprietaire}}</a> <br>
			{% endif %}
			<strong> Description </strong> : {{animal.description}} <br>
		</p>

		<div >
			<span class="pull-right">
			<a href= "{% url 'modifier_animal' animal.id %}" class="btn-search cyan rounded">Modifier</a>
			</span>
			{% if animal.is_from_refuge %}
			<span class="pull-left">
			<a href = "{% url 'adoption' animal.id %}"  class="btn-search cyan rounded">Adoption</a>
			</span>
			{% endif %}
		</div>
		</div>

		</div>
	</div>
	{% if animal.photo %}
		{% if animal.adoption %}
		<div class="col-sm-3">
		{% else %}
		<div class="col-sm-6">
		{% endif %}
		<img src={{animal.photo.url}} />
		</div>
	{%endif}

	{% if animal.adoption %}
		{% if animal.photo %}
		<div class="col-sm-3">
		{% else %}
		<div class="col-sm-6">
		{% endif %}
	<div class="panel panel-default">
        <div class="panel-heading text-center">
		<h4>Informations de l'adoption </h4>
		</div>
		<div class="panel-body">
		<p>
		    <strong> Date </strong> : {{animal.adoption.date}} <br>
		    <strong> Nombre de jours au refuge avant adoption </strong> : {{animal.adoption.nb_jours}}<br>
			<strong> Montant total </strong> : {{animal.adoption.montant}} €<br>
			<strong> Montant restant à payer </strong> : {{animal.adoption.montant_restant}} €<br>
		</p>

		<div class="text-right">
			<a href= "{% url 'update_adoption' animal.adoption.id %}" class="btn-search cyan rounded">Modifier</a>
		</div>
		</div>
	</div>
	</div>
	{% endif %}
</div>

{% if animal.is_from_pension %}
    <h1> Liste des séjours à la pension</h1>
	<table id="myTable">
        <tr class="header">
            <th style="width:40%;">Dates</th>
	        <th style="width:20%;">Jours de présence</th>
	        <th style="width:20%;">Montant total</th>
    		<th style="width:20%;">Montant restant à payer</th>
       </tr>
       {% for sejour in animal.sejour_set.all %}
       <tr>
            <td><a href = "{% url 'detail_sejour' sejour.id %}">{{sejour}}</a></td>
	        <td>{{sejour.nb_jours}}</td>
	        <td>{{sejour.montant}}</td>
	        <td>{{sejour.montant_restant}}</td>
       </tr>
       {% endfor %}
    </table>
{% else %}
    <h1> Liste des visites vétérinaire</h1>
	<table id="myTable">
        <tr class="header">
            <th style="width:30%;">Date</th>
            <th style="width:30%;">Raison de la visite</th>
	        <th style="width:40%;">Commentaire</th>
       </tr>
       {% for visite in animal.visitemedicale_set.all %}
       <tr>
            <td>{{visite.date}}</td>
	        <td>{{visite.get_type_visite_display}}</td>
	        <td>{{visite.commentaire}}</td>
       </tr>
       {% endfor %}
    </table>
{% endif %}


{% endblock %}
