{% extends "admin_interface/base.html" %}

{% block title %}
{% if proprietaire_to_update %}
<title>Modification de {{proprietaire_to_update}}</title>
{% else %}
<title> Créer un proprietaire </title>
{% endif %}
{% endblock %}

{% block content %}

{% if proprietaire_to_update %}
<h1>Modification de {{proprietaire_to_update}}</h1>
{% else %}
<h1> Créer un proprietaire </h1>
{% endif %}
<form method="post" action="">
   {% csrf_token %}
   {{ user_form.as_p }}
   {{ proprietaire_form.as_p }}
   <div class="row">
   	<div class="col-md-6">
   		{% if proprietaire_to_update %}
   			<a href = "{% url 'detail_proprietaire' proprietaire_to_update.id %}"  class="btn-search cyan rounded">Annuler</a>
   		{% else %}
   			<a href = "{% url 'proprietaires' %}"  class="btn-search cyan rounded">Annuler</a>
   		{% endif %}
   	</div>
   	<div class="col-md-6">
   		<input class="btn-search cyan rounded" type="submit" />
   	</div>
   </div>
</form>


{% endblock %}
