{% extends "admin_interface/base.html" %}

{% block title %}
<title>{{proprietaire.user.first_name}} {{proprietaire.user.last_name}}</title>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-sm-12">
	<div class="panel panel-default">
        <div class="panel-heading text-center">
			<h4> Informations </h4>
		</div>
		<div class="panel-body">
			<p>
			    <strong> Nom </strong> : {{proprietaire.user.last_name}} <br>
				<strong> Prénom </strong> : {{proprietaire.user.first_name}} <br>
				<strong> Adresse mail </strong> : {{proprietaire.user.email}} <br>
				<strong> Adresse </strong> : {{proprietaire.adresse}} <br>
				<strong> Code Postal </strong> : {{proprietaire.code_postal}} <br>
				<strong> Ville </strong> : {{proprietaire.ville}} <br>
				<strong> Téléphone </strong> : {{proprietaire.telephone}} <br>
				<strong> Deuxième téléphone </strong> : {{proprietaire.deuxieme_telephone}} <br>
				<strong> Ce propriétaire bénéficie des anciens tarifs
				</strong> : {% if proprietaire.tarif_special %} Oui {% else %} Non {%endif %} <br>
			</p>
			<div class="text-right">
			<a href= "{% url 'modifier_proprietaire' proprietaire.id %}" class="btn-search cyan rounded">Modifier</a>
			</div>
		</div>
	</div>
	</div>
</div>

<h3> Liste des animaux </h3>
<table id="myTable">
  <tr class="header">
    <th style="width:20%;">Nom</th>
    <th style="width:20%;">Type</th>
	<th style="width:20%;">Adopté au refuge</th>
  </tr>
  {% for animal in proprietaire.animal_set.all %}
  <tr>
    <td><a href = "{% url 'detail_animal' animal.id %}">{{animal.nom}}</a></td>
	<td>{{animal.get_type_animal_display}}</td>
	{% if animal.adoption %}
	    <td>Oui</td>
	{% else %}
	    <td>Non</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

<a href= "{% url 'creer_animal' %}?proprietaire={{proprietaire.id}}" class="btn-search cyan rounded">Ajouter animal</a>

<hr/>

<h3> Liste des séjours </h3>
<table id="myTable">
  <tr class="header">
    <th style="width:40%;">Séjour</th>
    <th style="width:20%;">Animaux concernés</th>
    <th style="width:20%;">Montant total</th>
    <th style="width:20%;">Montant restant à payer</th>
  </tr>
  {% for sejour in proprietaire.sejour_set.all %}
  <tr>
	<td><a href = "{% url 'detail_sejour' sejour.id %}">{{sejour}}</a></td>
	<td>{% for animal in sejour.animaux.all %}{{animal.nom}}<br>{% endfor %}</td>
	<td>{{sejour.montant}}</td>
	<td>{{sejour.montant_restant}}</td>
  </tr>
  {% endfor %}
</table>

<a href= "{% url 'creer_sejour' %}?proprietaire={{proprietaire.id}}" class="btn-search cyan rounded">Programmer un séjour</a>

{% endblock %}
