{% extends "admin_interface/base.html" %}
{% block content %}

<h1> Nouveau séjour en pension </h1>
<form method="post" id="sejourForm" data-calcul-montant-url="{% url 'calcul_montant_sejour' %}" data-animals-url="{% url 'ajax_load_animals' %}" novalidate>
   {% csrf_token %}
   {{ form.as_p }}
   <div class="row">

   	<div class="col-md-6">
   		{% if object %}
   			<a href = "{% url 'detail_sejour' object.id %}"  class="btn-search cyan rounded">Annuler</a>
   		{% else %}
   			<a href = "{% url 'sejours' %}"  class="btn-search cyan rounded">Annuler</a>
   		{% endif %}
   	</div>
   	<div class="col-md-6">
   		<input class="btn-search cyan rounded" type="submit" />
   	</div>
   </div>
</form>
{% endblock %}
