{% extends "admin_interface/base.html" %}

{% block title %}
<title>Détail du séjour</title>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-sm-12">
	<div class="panel panel-default">
        <div class="panel-heading text-center">
			<h4> Informations du séjour </h4>
		</div>
		<div class="panel-body">
			<p>
				{% if sejour.annule %}
					<div class="alert alert-warning" role="alert">
  						Ce séjour a été annulé
					</div>
				{% endif %}
				<strong> Propriétaire </strong> : <a href= "{% url 'detail_proprietaire' sejour.proprietaire.id %}">{{sejour.proprietaire}}</a> <br>
			    <strong> Animaux concernés </strong> : {% for animal in sejour.animaux.all %} <a href= "{% url 'detail_animal' animal.id %}">{{animal.nom}}</a>, {% endfor %} <br>
				<strong> Séjour pour cohabitation </strong> : {{sejour.get_cohabitation_display}} <br>
				<strong> Dates </strong> : {{sejour}} <br>
				<strong> Nombre de jours de présence </strong> : {{sejour.nb_jours}} <br>
				<strong> Montant total </strong> : {{sejour.montant|default:" - "}} € <br>
				<strong> Montant arrhes </strong> : {{sejour.arrhes|default:" - "}} € <br>
				<strong> Montant restant à payer </strong> : {{sejour.montant_restant|default:" - "}} €<br>
				<strong> Nombre de cages fournies par le proriétaire </strong> : {{sejour.nb_cages_fournies}}<br>
				<strong> Nombre de cage à fournir par le refuge </strong> : {{sejour.nb_cages_a_fournir}}<br>
				<strong> Tous les animaux du séjour sont correctement vaccinés pour toute la durée du séjour </strong> : {{sejour.get_vaccination_display}}<br>
				<strong> Soins quotidiens nécessaires </strong> : {{sejour.get_soin_display}}<br>
				<strong> Soins par injection </strong> : {{sejour.get_injection_display}}<br>
				<strong> Indications sur le séjour (soins divers, points d'attention...) </strong> : {{sejour.commentaire}}<br>
			</p>
			{% if not sejour.annule %}
			<div class="text-center" >
				<span class="pull-right">
					<a href= "{% url 'modifier_sejour' sejour.id %}" class="btn-search cyan rounded">Modifier</a>
				</span>
				{% if sejour.montant_restant %}
				<span>
					<a href= "{% url 'payer_sejour' sejour.id %}" class="btn-search cyan rounded">Séjour payé intégralement</a>
				</span>
				{% endif %}
				<span class="pull-left">
					<a href= "{% url 'annule_sejour' sejour.id %}" class="btn-search cyan rounded">Annuler ce séjour</a>
				</span>
			</div>
			{% endif %}
		</div>
	</div>
	</div>
</div>

{% endblock %}
