{% extends "admin_interface/base.html" %}
{% load static %}

{% block title %}
<title>Statistiques</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <canvas id="adoption-line-chart" ></canvas>
    </div>
    <div class="col-sm-6">
        <canvas id="sejour-line-chart" ></canvas>

    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h5>Palmarès {{current}} de la pension</h5>
            </div>
            <div class="panel-body">
                {% for ligne in palmares %}
                <p>
                    {{ligne.proprietaire__user__first_name}} {{ligne.proprietaire__user__last_name}} :
                    {{ligne.total_pensions}} jours de pension cumulés
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h5>Calculer le montant des pensions sur une période</h5>
            </div>
            <div class="panel-body">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ sejour_gain_form.date_debut_gain_tag }} {{ sejour_gain_form.date_debut_gain }}
                    {{ sejour_gain_form.date_fin_gain_tag }} {{ sejour_gain_form.date_fin_gain }}
                    <br>
                    {% if total_paiements_sejours %}
                    <hr>
                    Résultat : {{total_paiements_sejours.montant__sum}} €
                    <hr>
                    {% endif %}
                    <br>
                    <button type="submit" class="btn btn-info btn-sm">Calculer</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <form method="post" action="">
        {% csrf_token %}
        <div class="col-md-6">
            {{ planning_form.date_debut_tag }} {{ planning_form.date_debut }}
            <button type="submit" class="btn btn-info btn-sm">Afficher</button>
        </div>
    </form>
</div>
<div class="row">
    <canvas id="myChart" width="400" height="150"></canvas>
</div>
<div class="row">
    <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h5>Adoptions des 6 derniers mois</h5>
            </div>
            <div class="panel-body">
                <table class="myTable">
                <tr class="header">
	                <th>Date d'adoption</th>
	                <th>Animal adopté</th>
	                <th>Adoptant</th>
	                <th>Adresse mail</th>
                    <th>Téléphone</th>
                </tr>
                {% for adoption in adoptions_6_mois %}
                <tr>
                    <td>{{adoption.date}}</td>
	                <td><a href = "{% url 'detail_animal' adoption.animal.id %}">{{adoption.animal.nom}}</a></td>
	                <td>{{adoption.proprietaire}}</td>
	                <td>{{adoption.proprietaire.user.email}}</td>
                    <td>{{adoption.proprietaire.telephone}}</td>
                </tr>
                {% endfor %}
                </table>
            </div>
    </div>
</div>
<div class="row text-center">
    <br/>
    <button id="cp_btn" class="btn-search cyan rounded">Copier dans le presse papier toutes les adreses mail de la base</button>
    <br/>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
var adoptionCanvas = document.getElementById('adoption-line-chart')
var adoptionChart = new Chart(document.getElementById("adoption-line-chart"), {
  type: 'line',
  data: {
    labels: {{ labels_mois|safe }},
    datasets: [{
        data: {{ data_adoption_current|safe }},
        label: "Adoptions {{current}}",
        borderColor: "#3e95cd",
        fill: false
      },
      {
        data: {{ data_adoption_past|safe }},
        label: "Adoptions {{past}}",
        borderColor: "#9b3ecd",
        fill: false
      },
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Adoptions'
    }
  }
});

adoptionCanvas.onclick = function(e) {
    var slice = adoptionChart.getElementAtEvent(e);
    if (!slice.length) return; // return if not clicked on slice
    if (slice[0]._datasetIndex==1){
        urls_adoptions_past = "{{urls_adoptions_past_str}}".split(',');
        window.open(urls_adoptions_past[slice[0]._index],"_self")
    }
    else {
        urls_adoptions_current = "{{urls_adoptions_current_str}}".split(',');
        window.open(urls_adoptions_current[slice[0]._index],"_self")
    }
}

new Chart(document.getElementById("sejour-line-chart"), {
  type: 'line',
  data: {
    labels: {{ labels_mois|safe }},
    datasets: [{
        data: {{ data_pension_current|safe }},
        label: "Jours de séjour {{current}}",
        borderColor: "#3e95cd",
        fill: false
      },
      {
        data: {{ data_pension_past|safe }},
        label: "Jours de séjour {{past}}",
        borderColor: "#9b3ecd",
        fill: false
      },
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Séjours'
    }
  }
});


var canvasP = document.getElementById('myChart')
var ctx = canvasP.getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ labels_planning|safe }},
        datasets: [{
            label: 'Cages pour pension',
            data: {{ data_planning|safe }},
            backgroundColor: {{ couleurs_planning|safe }},
            borderWidth: 1
        }]
    },
    options: {
        tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
                label: function(tooltipItems, data) {
                    data_income_outcome = "{{data_income_outcome_str}}".split(',');
                    return data.datasets[tooltipItems.datasetIndex].label +': ' + tooltipItems.yLabel + data_income_outcome[tooltipItems.index];
                }
            }
        },
    }
});

canvasP.onclick = function(e) {
    var slice = myChart.getElementAtEvent(e);
    if (!slice.length) return; // return if not clicked on slice
    urls_sejour = "{{urls_sejour_string}}".split(',');
    window.open(urls_sejour[slice[0]._index],"_self")
}

document.getElementById("cp_btn").addEventListener("click", copy_emails);

function copy_emails() {
    var textArea = document.createElement("textarea");
    textArea.value = "{{emails_list_str}}";
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand("Copy");
    textArea.remove();
}
</script>
{% endblock %}