{% extends "admin_interface/base.html" %}
{% load static %}

{% block content %}
 <div class="row">
   <div class="col-sm-6">
    <canvas id="adoption-line-chart" ></canvas>
    </div>
  <div class="col-sm-6">
    <canvas id="pension-line-chart" ></canvas>
    </div>
 </div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
new Chart(document.getElementById("adoption-line-chart"), {
  type: 'line',
  data: {
    labels: {{ labels_adoption|safe }},
    datasets: [{
        data: {{ data_adoption|safe }},
        label: "Adoptions par semaine",
        borderColor: "#3e95cd",
        fill: false
      },
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Adoptions 2020'
    }
  }
});

new Chart(document.getElementById("pension-line-chart"), {
  type: 'line',
  data: {
    labels: {{ labels_pension|safe }},
    datasets: [{
        data: {{ data_pension|safe }},
        label: "Jours de pension cumulés par semaine",
        borderColor: "#3e95cd",
        fill: false
      },
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Pension 2020'
    }
  }
});
</script>
{% endblock %}