{% extends "admin_interface/base.html" %}

{% block title %}
<title>Tableau de bord</title>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h5>Pension</h5>
        </div>
        <div class="panel-body">
          <p><a href= "{% url 'sejours' %}?date_debut_max={{interval_str}}&date_debut_min={{today_str}}"><strong>{{arrivees_pension}}</strong> arrivée(s) prévue(s) cette semaine</a></p>
          <p><a href= "{% url 'sejours' %}?date_fin_max={{interval_str}}&date_fin_min={{today_str}}"><strong>{{departs_pension}}</strong> départ(s) prévu(s) cette semaine</a></p>
          <hr/>
          <p><a href= "{% url 'sejours' %}?date_debut_max={{day_interval_str}}&date_debut_min={{today_str}}"><strong>{{arrivees_pension_jour}}</strong> arrivée(s) prévue(s) aujourd'hui</a></p>
          <p><a href= "{% url 'sejours' %}?date_fin_max={{day_interval_str}}&date_fin_min={{today_str}}"><strong>{{departs_pension_jour}}</strong> départ(s) prévu(s) aujourd'hui</a></p>
          <p><a href= "{% url 'sejours' %}?date_fin_min={{day_interval_str}}&date_debut_max={{day_interval_str}}"><strong>{{presences}}</strong> animaux accueillis en pension aujourd'hui</a></p>
        </div>
        <div class="panel-footer">
          <a href= "{% url 'animals' %}?emplacement=PENSION" class="btn-search cyan rounded">Liste des animaux de la pension</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h5>Refuge - Semaine glissante</h5>
        </div>
        <div class="panel-body">
          <p><a href= "{% url 'animals' %}?date_prochaine_visite_max={{interval_str}}&date_prochaine_visite_min={{today_str}}"><strong>{{rdv_veterinaire}}</strong> rendez-vous vétérinaire prévu(s)</a></p>
          <p><a href= "{% url 'animals' %}?date_arrivee_max={{interval_str}}&date_arrivee_min={{today_str}}"><strong>{{recuperations}}</strong> animaux à récupérer</a></p>
          <p><a href= "{% url 'animals' %}?date_adoption_max={{interval_str}}&date_adoption_min={{today_str}}"><strong>{{adoptions}}</strong> adoption(s) en cours</a></p>
        </div>
        <div class="panel-footer">
          <a href= "{% url 'animals' %}?emplacement=REFUGE" class="btn-search cyan rounded">Liste des animaux du refuge</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <canvas id="planning_chart" width="400" height="100" style="border:2px solid blue;"></canvas>
    </div>
  </div>
<br/>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h5>Indicateurs de suivi</h5>
        </div>
        <div class="panel-body">
          <p><a href= "{% url 'animals' %}?filter=paiements_adoption">
            {{nb_paiements_adoptions}} adoption(s) en attente de paiement complet
            pour un montant de {{total_paiements_adoptions.montant_restant__sum}} € </a></p>
          <p><a href= "{% url 'sejours' %}?filter=paiements_sejour">{{nb_paiements_sejours}} séjour(s) en attente de
            paiement complet pour un montant de {{total_paiements_sejours.montant_restant__sum}} €</a></p>
          <p><a href= "{% url 'animals' %}?filter=pension_vaccin">
            {{nb_vaccinations}} animaux de la pension à mettre à jour car la date limite de rappel de vaccin est dépassée</a></p>
          <p><a href= "{% url 'animals' %}?filter=sante_refuge">
            {{nb_visites_refuge}} animaux du refuge à castrer/stériliser ou vacciner</a></p>
          <p><a href= "{% url 'animals' %}?date_caution_materiel_max={{interval_month_str}}&date_caution_materiel_min={{today_str}}">
            {{cautions_materiel}} caution(s) matériel à régulariser dans moins de 30 jours</a></p>
          <p><a href= "{% url 'animals' %}?date_caution_sterilisation_max={{interval_month_str}}&date_caution_sterilisation_min={{today_str}}">
            {{cautions_sterilisation}} caution(s) stérilisation à régulariser dans moins de 30 jours</a></p>
        </div>
      </div>
    </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
var canvasP = document.getElementById('planning_chart')
var ctx = canvasP.getContext('2d');
var planning_chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ labels_planning|safe }},
        datasets: [{
            label: 'Cages pour pension',
            data: {{ data_planning|safe }},
            backgroundColor: {{ couleurs_planning|safe }},
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

canvasP.onclick = function(e) {
    var slice = planning_chart.getElementAtEvent(e);
    if (!slice.length) return; // return if not clicked on slice
    urls = "{{urls_string}}".split(',');
    window.open(urls[slice[0]._index],"_self")
}
</script>
{% endblock %}
