{% extends "admin_interface/base.html" %}

{% block title %}
<title>Tableau de bord</title>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h5>Pension</h5>
        </div>
        <div class="panel-body">
          <p><a href= "{% url 'sejours' %}?interval={{interval_str}}&filter=date_debut_sejour"><strong>{{arrivees_pension}}</strong> arrivée(s) prévue(s) cette semaine</a></p>
          <p><a href= "{% url 'sejours' %}?interval={{interval_str}}&filter=date_fin_sejour"><strong>{{departs_pension}}</strong> départ(s) prévu(s) cette semaine</a></p>
          <hr/>
          <p><a href= "{% url 'sejours' %}?interval={{day_interval_str}}&filter=date_debut_sejour"><strong>{{arrivees_pension_jour}}</strong> arrivée(s) prévue(s) aujourd'hui</a></p>
          <p><a href= "{% url 'sejours' %}?interval={{day_interval_str}}&filter=date_fin_sejour"><strong>{{departs_pension_jour}}</strong> départ(s) prévu(s) aujourd'hui</a></p>
          <p><a href= "{% url 'sejours' %}?interval={{day_interval_str}}&filter=date_sejour"><strong>{{presences}}</strong> animaux accueillis en pension aujourd'hui</a></p>
        </div>
        <div class="panel-footer">
          <a href= "{% url 'animals' %}?filter=pension" class="btn-search cyan rounded">Liste des animaux de la pension</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h5>Refuge - Semaine glissante</h5>
        </div>
        <div class="panel-body">
          <p><a href= "{% url 'animals' %}?interval={{interval_str}}&filter=date_visite"><strong>{{rdv_veterinaire}}</strong> rendez-vous vétérinaire prévu(s)</a></p>
          <p><a href= "{% url 'animals' %}?interval={{interval_str}}&filter=date_arrivee"><strong>{{recuperations}}</strong> animaux à récupérer</a></p>
          <p><a href= "{% url 'animals' %}?interval={{interval_str}}&filter=date_adoption"><strong>{{adoptions}}</strong> adoption(s) en cours</a></p>
        </div>
        <div class="panel-footer">
          <a href= "{% url 'animals' %}?filter=refuge" class="btn-search cyan rounded">Liste des animaux du refuge</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <canvas id="planning_chart" width="400" height="100" style="border:2px solid blue;"></canvas>
    </div>
  </div>
<br/>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h5>Indicateurs de suivi</h5>
        </div>
        <div class="panel-body">
          <p><a href= "{% url 'animals' %}?filter=paiements_adoption">
            {{nb_paiements_adoptions}} adoption(s) en attente de paiement complet
            pour un montant de {{total_paiements_adoptions.montant_restant__sum}} € </a></p>
          <p><a href= "{% url 'sejours' %}?filter=paiements_sejour">{{nb_paiements_sejours}} séjour(s) en attente de
            paiement complet pour un montant de {{total_paiements_sejours.montant_restant__sum}} €</a></p>
          <p><a href= "{% url 'animals' %}?filter=pension_vaccin">
            {{nb_vaccinations}} animaux de la pension à mettre à jour car la date limite de rappel de vaccin est dépassée</a></p>
          <p><a href= "{% url 'animals' %}?filter=sante_refuge">
            {{nb_visites_refuge}} animaux du refuge à castrer/stériliser ou vacciner</a></p>
        </div>
      </div>
    </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
var ctx = document.getElementById('planning_chart').getContext('2d');
var planning_chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ labels_planning|safe }},
        datasets: [{
            label: 'Animaux en pension',
            data: {{ data_planning|safe }},
            backgroundColor: {{ couleurs_planning|safe }},
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}
