{% extends "admin_interface/base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
		<h4>Recherche</h4>
		</div>

		<form action = "{% url 'visites' %}" method="post">
		<div class="panel-body">
		{%csrf_token %}
			<div class="row">
		    	<div class="col-md-6">
		    		{{ form.date_min.label_tag }} {{ form.date_min }}
		    	</div>
		    	<div class="col-md-6">
		    		{{ form.date_max.label_tag }} {{ form.date_max }}
		    	</div>
		    </div>

        	<div class="text-right">
		    <input class="btn-search cyan rounded" type="submit" value="Rechercher" />
		</div>
		</div>
		</form>
      </div>
    </div>
    </div>

<div class="col-sm-12">
<h2>Liste des visites vétérinaires</h2>

<table id="myTable">
  <tr class="header">
    <th style="width:25%;">Date de la visite vétérinaire</th>
    <th style="width:25%;">Raison de la visite</th>
	<th style="width:25%;">Montant de la visite</th>
	<th style="width:25%;">Animaux concernés</th>
  </tr>
  {% for visite in visites %}
  <tr>
    <td><a href = "{% url 'detail_visite' visite.id %}">{{visite.date}}</a></td>
    <td>{{visite.get_type_visite_display}}</td>
	<td>{{visite.montant|default:" - "}}</td>
	<td>{% for animal in visite.animaux.all %}<a href = "{% url 'detail_animal' animal.id %}">{{animal.nom}}</a><br>{% endfor %}</td>
  </tr>
  {% endfor %}
</table>

<div class="pagination">
   {% if visites.has_previous %}
       <a href="{% url 'visites'%}?page={{ visites.previous_page_number}}">Précédente</a> -
   {% endif %}

   <span class="current">
       Page {{ visites.number }} sur {{ visites.paginator.num_pages }}
   </span>

   {% if proprietaires.has_next %}
       - <a href="{% url 'visites'%}?page={{ visites.next_page_number}}">Suivante</a>
   {% endif %}
</div>

</div>

<div class="text-right">
<a href= "{% url 'creer_visite' %}" class="btn-search cyan rounded">Programmer une nouvelle visite vétérinaire</a>
</div>

{% endblock %}
