{% extends "applicationTest/base.html" %}

{% block content %}

{% if object %}
<h1>Modification de {{object}}</h1>
{% else %}
<h1> Créer un animal </h1>
{% endif %}
<br/>
<form method="post" action="">
   {% csrf_token %}
   {{ form.as_p }}
   <br/>
   <div class="row">
   	<div class="col-md-6">
   		{% if object %}
   			<a href = "{% url 'detail_animal' object.id %}"  class="btn-search cyan rounded">Annuler</a>
   		{% else %}
   			<a href = "{% url 'animals' %}"  class="btn-search cyan rounded">Annuler</a>
   		{% endif %}
   	</div>
   	<div class="col-md-6">
   		<input class="btn-search cyan rounded" type="submit" />
   	</div>
   </div>
</form>


{% endblock %}