{% extends "applicationTest/base.html" %}

{% block content %}
<div class="row">
	{% if animal.adoption %}
    <div class="col-sm-6">
    {% else %}
    <div class="col-sm-12">
    {% endif %}
      <div class="panel panel-default">
        <div class="panel-heading text-center">
		<h4>{{animal.get_type_animal_display}} {{animal.nom}} </h4>
		</div>
		<div class="panel-body">
		<p>
		    <strong> Nom </strong> : {{animal.nom}} <br>
			<strong> Sexe </strong> : {{animal.get_sexe_display}} <br>
			<strong> Type </strong> : {{animal.get_type_animal_display}} <br>
			<strong> Provenance </strong> : {{animal.get_emplacement_display}} <br>
			<strong> Date de naissance </strong> : {{animal.date_naissance}} <br>
			<strong> Date de première arrivée </strong> : {{animal.date_arrivee}} <br>
			<strong> Vacciné </strong> : {{animal.get_vaccine_display}} <br>
			<strong> Stérilisé </strong> : {{animal.get_sterilise_display}} <br>
			{% if animal.isFromPension %}
			<strong> Propriétaire </strong> : <a href = "{% url 'detail_proprietaire' animal.proprietaire.id %}">{{animal.proprietaire}}</a> <br>
			{% endif %}
			<strong> Description </strong> : {{animal.description}} <br>
		</p>
		
		<div class="text-right">
			<a href= "{% url 'modifier_animal' animal.id %}" class="btn-search cyan rounded">Modifier</a>
		</div>
		{% if animal.isFromRefuge %}
		<div class="text-left">
			<a href = "{% url 'adoption' animal.id %}"  class="btn-search cyan rounded">Adoption</a>
		</div>
		{% endif %}
		</div>
		
		</div>
	</div>

	{% if animal.adoption %}
	<div class="col-sm-6">
	<div class="panel panel-default">
        <div class="panel-heading text-center">
		<h4>Informations de l'adoption </h4>
		</div>
		<div class="panel-body">
		<p>
		    <strong> Date </strong> : {{animal.adoption.date}} <br>
			<strong> Montant total </strong> : {{animal.adoption.montant}} €<br>
			<strong> Montant restant à payer </strong> : {{animal.adoption.montant_restant}} €<br>
		</p>
		
		<div class="text-right">
			<a href= "{% url 'update_adoption' animal.adoption.id %}" class="btn-search cyan rounded">Modifier</a>
		</div>
		</div>
	</div>
	</div>
	{% endif %}
</div>

{% if animal.isFromPension %}
    <h1> Liste des séjours à la pension</h1>
	<table id="myTable">
        <tr class="header">
            <th style="width:20%;">Date d'arrivée</th>
            <th style="width:20%;">Date de départ</th>
	        <th style="width:20%;">Jours de présence</th>
	        <th style="width:20%;">Cage</th>
	        <th style="width:20%;">Payé</th>
       </tr>
       {% for sejour in animal.sejour_set.all %}
       <tr>
            <td>{{sejour.date_arrivee}}</td>
            <td>{{sejour.date_depart}}</td>
	        <td>A calculer</td>
	        <td>{{sejour.get_cage_display}}</td>
	        <td>A calculer</td>
       </tr>
       {% endfor %}
    </table>
{% else %}
    <h1> Liste des visites vétérinaire</h1>
	<table id="myTable">
        <tr class="header">
            <th style="width:30%;">Date</th>
            <th style="width:30%;">Raison de la visite</th>
	        <th style="width:40%;">Commentaire</th>
       </tr>
       {% for visite in animal.visite_medicale_set.all %}
       <tr>
            <td>{{visite.date}}</td>
	        <td>{{visite.get_type_visite_display}}</td>
	        <td>{{visite.commentaire}}</td>
       </tr>
       {% endfor %}
    </table>
{% endif %}


{% endblock %}