<!DOCTYPE html>
<html lang="fr">
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
<script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>

<div class="sidebar-container">
  <div class="sidebar-logo">
    <img src="{% static 'img/logo_l.png' %}" alt="Logo">
    <br> Les grandes oreilles
  </div>
  <ul class="sidebar-navigation">
  	<li class="header">Accueil</li>
    <li>
      <a href="{% url 'accueil' %}">
        <i class="fa fa-home" aria-hidden="true"></i> 
        <span {% if selected == "tableau_bord" %} class = "selected" {% endif %}> Tableau de bord </span>
      </a>
    </li>
    </li>
    <li class="header">Animaux</li>
    <li>
      <a href="{% url 'animals' %}">
      	<i class="fa fa-home" aria-hidden="true"></i>
        <span {% if selected == "animals" %} class = "selected" {% endif %}> Liste des animaux </span>
      </a>
    </li>
    <li>
      <a href="{% url 'creer_animal'%}">
        <i class="fa fa-tachometer" aria-hidden="true"></i> 
        <span {% if selected == "create_animal" %} class = "selected" {% endif %}> Créer un animal </span>
      </a>
    </li>
    <li class="header">Propriétaires</li>
    <li>
      <a href="{% url 'proprietaires' %}">
        <i class="fa fa-users" aria-hidden="true"></i> 
         <span {% if selected == "proprietaires" %} class = "selected" {% endif %}> Liste des propriétaires </span>
      </a>
    </li>
    <li>
      <a href="{% url 'creer_proprietaire' %}">
        <i class="fa fa-cog selected" aria-hidden="true"></i> 
        <span {% if selected == "create_proprietaire" %} class = "selected" {% endif %}>Ajouter un propriétaire</span>
      </a>
    </li>
    <li class="header">Gestion</li>
    <li>
      <a href="{% url 'visites' %}">
        <i class="fa fa-users" aria-hidden="true"></i> 
         <span {% if selected == "visites" %} class = "selected" {% endif %}> Liste des visites vétérinaire </span>
      </a>
    </li>
    <li>
      <a href="{% url 'sejours' %}">
        <i class="fa fa-cog selected" aria-hidden="true"></i> 
        <span {% if selected == "sejours" %} class = "selected" {% endif %}>Liste des séjours</span>
      </a>
    </li>
  </ul>
</div>

<div class="content-container">

  <div class="container-fluid">
  
     {% block content %}
	 
	 
	 {% endblock %}
  </div>
</div>

</body>