{% extends "applicationTest/base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
		<h4>Recherche</h4>
		</div>
		<form action = "{% url "sejours" %}" method="post">
		<div class="panel-body">
		{%csrf_token %}
			<div class="row">
		    	<div class="col-md-6">
		    		{{ form.date_debut_min.label_tag }} {{ form.date_debut_min }}
		    	</div>
		    	<div class="col-md-6">
		    		{{ form.date_debut_max.label_tag }} {{ form.date_debut_max }}
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-md-6">
		    		{{ form.date_fin_min.label_tag }} {{ form.date_fin_min }}
		    	</div>
		    	<div class="col-md-6">
		    		{{ form.date_fin_max.label_tag }} {{ form.date_fin_max }}
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-md-12">
		    		{{ form.proprietaire.label_tag }} {{ form.proprietaire }}
		    	</div>
		    </div>
        	<div class="text-right">
		    <input class="btn-search cyan rounded" type="submit" value="Rechercher" />
		</div>
		</div>
		</form>
      </div>
    </div>
    </div>

<div class="col-sm-12">

<table id="myTable">
  <tr class="header">
    <th style="width:30%;">Dates</th>
	<th style="width:20%;">Jours de présence</th>
	<th style="width:25%;">Propriétaire</th>
	<th style="width:25%;">Animaux concernés</th>
  </tr>
  {% for sejour in sejours %}
  <tr>
    <td>{{sejour}}</td>
	<td>{{sejour.nb_jours}}</td>
	<td>
	{% if sejour.proprietaire %}
	<a href = "{% url 'detail_proprietaire' sejour.proprietaire.id %}">{{sejour.proprietaire}}</a>
	{% endif %}
	</td>
	<td>{% for animal in sejour.animaux.all %}{{animal.nom}}<br>{% endfor %}</td>
  </tr>
  {% endfor %}
</table>

<div class="text-right">
<a href= "{% url 'creer_sejour' %}" class="btn-search cyan rounded">Programmer un nouveau séjour</a>
</div>
  
</div>


{% endblock %}