{% extends "applicationTest/base.html" %}

{% block content %}
{{object}}
<h1> Nouveau séjour en pension </h1>
<form method="post" id="sejourForm" data-calcul-montant-url="{% url 'calcul_montant_sejour' %}" data-animals-url="{% url 'ajax_load_animals' %}" novalidate>
   {% csrf_token %}
   {{ form.as_p }}
   <div class="row">
   
   	<div class="col-md-6">
   		{% if object %}
   			<a href = "{% url 'detail_sejour' object.id %}"  class="btn-search cyan rounded">Annuler</a>
   		{% else %}
   			<a href = "{% url 'sejours' %}"  class="btn-search cyan rounded">Annuler</a>
   		{% endif %}
   	</div>
   	<div class="col-md-6">
   		<input class="btn-search cyan rounded" type="submit" />
   	</div>
   </div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_proprietaire").change(function () {
      var url = $("#sejourForm").data("animals-url");  // get the url of the `load_animals` view
      var proprietaireId = $(this).val();  // get the selected proprietaire ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-animals/)
        data: {
          'proprietaire': proprietaireId       // add the proprietaire id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_animals` view function
          $("#id_animaux").html(data);  // replace the contents of the proprietaire input with the data that came from the server
        }
      });

    });
    $('#sejourForm').on('change', '*', function(event) {
    	var champs = ['commentaire','montant','montant_restant','proprietaire'];
    	if (champs.indexOf(event.target.name)==-1){
    		var url = $("#sejourForm").data("calcul-montant-url");
    		$.post(url,$('#sejourForm').serialize(),function (data){
         		$("#id_montant").val(data["montant"]);
      		});
      	}
    });
  </script>


{% endblock %}