{% extends "applicationTest/base.html" %}

{% block content %}

<div class="text-center">
    <h2>Bienvenue ! </h2>
    <br/>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h5>Pension - Semaine glissante</h6>
        </div>
        <div class="panel-body">
          <p><a href= "{% url 'animals' %}"><strong>{{arrivees_pension}}</strong> arrivée(s) prévue(s)</a></p>
          <p><a href= "{% url 'animals' %}"><strong>{{departs_pension}}</strong> départ(s) prévu(s)</a></p>
          <p><a href= "{% url 'animals' %}"><strong>{{presences}}</strong> animal accueilli en pension aujourd'hui</a></p>
        </div>
        <div class="panel-footer">
          <a href= "{% url 'animals' %}" class="btn-search cyan rounded">Liste des animaux de la pension</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h5>Refuge - Semaine glissante</h6>
        </div>
        <div class="panel-body">
          <p><a href= "{% url 'animals' %}"><strong>{{rdv_veterinaire}}</strong> rendez-vous vétérinaire prévu(s)</a></p>
          <p><a href= "{% url 'animals' %}"><strong>{{recuperations}}</strong> animaux à récupérer</a></p>
          <p><a href= "{% url 'animals' %}"><strong>{{adoptions}}</strong> adoption(s) en cours</a></p>
        </div>
        <div class="panel-footer">
          <a href= "{% url 'animals' %}" class="btn-search cyan rounded">Liste des animaux du refuge</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}